body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

:root {
  --background-color: #ffffff;
  --background-muted: #cccccc;
  --text-color-dark: #222222;
  --text-color-base: #666666;
}
[data-theme='dark'] {
  --background-color: #222222;
  --background-muted: #666666;
 --text-color-dark: #ffffff;
  --text-color-base: #aaaaaa;
}

@media (max-width: 600px) {
  .hide-on-small {
    display: none;
  }
}
