body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

:root {
  --background-color: #ffffff;
  --background-muted: #cfcfcf;
  --text-color: #17242b;
  --text-color-lighter: #1a2931;
  --primary-color: #cfcfcf;
}
[data-theme='dark'] {
  --background-color: #17242b;
  --background-muted: #364a55;
  --text-color: #efefef;
  --text-color-lighter: #cfcfcf;
  --primary-color: #cfcfcf;
}
